# Build outputs
**/bin/
**/obj/

# Visual Studio files
*.user
*.vs/

# DotNet tooling
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log

# Node / Angular
node_modules/
dist/
.tmp/
